/* ------- Modal ----------- */
.modal-header, h4, .close {
  background-color: #5cb85c;
  color:white !important;
  text-align: center;
  font-size: 30px;
}
.modal-footer {
  background-color: #f9f9f9;
}



/* ------- Top Bars -------- */
#container {
    padding-top: 55px;
    box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.15);
}
#menu-bar {
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    padding: 15px;
	background: #528B8B;
	vertical-align: middle;
	cursor: context-menu;
	z-index: 2;
	box-shadow: 0px 5px 0px #80B4B4;
}
#menu-bar a {
    color: white;
}

.logo {
    float: left;
    width:60px;
}

#menu-bar .menu-icon {
    text-decoration: none!important;
    outline: none!important;
}

#menu-bar h2{
    display: block;
    margin: 0px;
    position: fixed;
    width: calc(100% - 100px);
    top: 8px;
    text-align: center;
    color: rgba(255,255,255,1);
    margin-left: 25px;
}