<div id="cars">
</div>
<div id="edit-car">
    <h3>Edit Car</h3>
    Year: <input type="text" name="ec-year" id="ec-year"></input><br />
    Make: <input type="text" name="ec-make" id="ec-make"></span><br />
    Model: <input type="text" name="ec-model" id="ec-model"></span><br />
    Name: <input type="text" name="ec-name" id="ec-name"></span><br />
    Description: <input type="text" name="ec-description" id="ec-description"></span><br />
    Broken: <input type="checkbox" name="ec-broken" id="ec-broken"></span><br />
    Occupied: <input type="checkbox" name="ec-occupied" id="ec-occupied"></span><br />
    Working: <input type="checkbox" name="ec-working" id="ec-working"></span><br />
    Driver: <span name="ec-driver" id="ec-driver"></span><br />
    <input type="button" value="Submit" name="ec-submit" id="ec-submit" />
</div>

<script>

    function editCar(car) {
        $("#ec-year").val(car.current.year);
        $("#ec-make").val(car.current.make);
        $("#ec-model").val(car.current.model);
        $("#ec-name").val(car.current.name);
        $("#ec-description").val(car.current.description);
        $("#ec-broken").prop('checked', false);
        if(car.current.isInNeedOfRepair) {
            $("#ec-broken").prop('checked', true);
        }
        $("#ec-occupied").prop('checked', false);
        if(car.current.isOnCall) {
            $("#ec-occupied").prop('checked', true);
        }
        $("#ec-working").prop('checked', false);
        if(car.current.isOutWorking) {
            $("#ec-working").prop('checked', true);
        }
        $("#ec-occupied").html();
        $("#ec-working").html();

        getAllDrivers(car.current.currentDriverId);

        $("#edit-car").show();
    }

    $("#ec-submit").click(function () {

        // i need a car here

        $.ajax({
          type: "POST",
          url: /saveCar,
          data: data,
          success: success,
          dataType: dataType
        });
    });

    function getAllDrivers(currentDriverId) {
        $.get('/allDrivers', {}, function(res,resp, jqXHR) {
            console.log(res);
            var driverSelect = "<select name='ec-form-driver'>";
            $.each(res, function(i, driver) {
                if(driver.entityId == currentDriverId) {
                    driverSelect += "<option selected>" + driver.current.firstName + " "
                        + driver.current.lastName + "</option>";
                }
                else {
                    driverSelect += "<option>" + driver.current.firstName + " " + driver.current.lastName + "</option>";
                }
            });
            driverSelect += "</select>";

            $("#ec-driver").html(driverSelect);
        }, "json");
    }

    function getAllCars() {
        $.get('/allCars', {}, function(res,resp, jqXHR) {
            console.log(res);
            var cars = "";
            $.each(res, function(i, car) {
                cars += "<p>" + car.current.year + " " + car.current.make + " "
                    + car.current.model + " (" + car.current.name + ")</p>";
                cars += "<ul><li>" + car.current.description + "</li>";
                cars += "<li>Broken? " + car.current.isInNeedOfRepair + "</li>";
                cars += "<li>Occupied? " + car.current.isOnCall + "</li>";
                cars += "<li>Working? " + car.current.isOutWorking + "</li>";
                if(car.current.currentDriver != null) {
                    cars += "<li>Driver " + car.current.currentDriver.firstName + " "
                        + car.current.currentDriver.lastName + "</li>";
                } else {
                    cars += "<li>No Driver</li>";
                }
                cars += "</ul>";
                if(car.history.length > 0) {
                    $.each(car.history, function(j, historicalCar) {
                        cars += "<div class='car-history'>historical data:<br />";
                        cars += "Dates Active: " + historicalCar.arsd + " to: " + historicalCar.ared + "<br />";
                        cars += "<p>" + historicalCar.year + " " + historicalCar.make + " "
                            + historicalCar.model + " (" + historicalCar.name + ")</p>";
                        cars += "<ul><li>" + historicalCar.description + "</li>";
                        cars += "<li>Broken? " + historicalCar.isInNeedOfRepair + "</li>";
                        cars += "<li>Occupied? " + historicalCar.isOnCall + "</li>";
                        cars += "<li>Working? " + historicalCar.isOutWorking + "</li>";
                        if(historicalCar.currentDriver != null) {
                            cars += "<li>Driver " + historicalCar.currentDriver.firstName + " "
                                + historicalCar.currentDriver.lastName + "</li>";
                        } else {
                            cars += "<li>No Driver</li>";
                        }
                        cars += "</ul>";
                    });
                }
                cars += "<button onclick='javascript:editCar(" + JSON.stringify(car) + ")'>Edit</button>";
                cars += "<hr />";
            });

            $("#cars").html(cars);
        }, "json");
    }

    getAllCars();


</script>